<% @articles.each do |article| %>
  <div class="card">
    <% if article.image.exists? %>
      <%= image_tag article.image.url, class: "card-img-top" %>
    <% end %>
    <div class="card-block">
      <div class="centered-content">
        <p><%= article.title %></p>
        <%= simple_format(article.body.first(300)) %>
        <%= link_to "READ MORE", article_path(article), class: 'article_title', id: "article_#{article.id}" %>
        <hr>
      </div>
    </div>
  </div>
<% end %>
