<div class="card">
  <div class="card-body">
    <h4 class="card-title">Blog</h4>

      <ul class="list-group list-group-flush">
        <% @articles.each do |article| %>
        <li class="list-group-item">
          <%= link_to article.title, article_path(article),
              class: 'article_title', id: "article_#{article.id}" %>
        </li>
        <% end %>
      </ul>

  <% if user_signed_in? %>
    <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
  <% end %>

  </div>
</div>
