<div class="navigation-bar">
  <nav class="navbar navbar-light justify-content-center" style="background-color: #ffffff;">
      <a class="navbar-brand" href="/">DIVING INTO CODE</a>
  </nav>

    <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/articles">BLOG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://s3.eu-west-2.amazonaws.com/divingintocode-assets/AGibbons+CV+2018.pdf">CV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">CONTACT</a>
    </li>
    <% if user_signed_in? %>
    <li>
      <%= link_to "POST", new_article_path, class: "nav-item nav-link" %>
    </li>
    <li>
    <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "nav-item nav-link"  %>
    </li>
    <% end %>
  </ul>
</div>
