<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="about-text">
          <p class="card-text">
            Hello! I’m Annalaise, a product manager and part time software engineer from sunny Dorset, England.
          </p>
          <p class="card-text">
            In Autumn 2017 I graduated <a href="http://www.makersacademy.com/" class="link-text">Maker’s Academy</a>, a highly selected 16-week programming bootcamp, with focus on test-driven full stack development.
          </p>
          <p class="card-text">
            I started my coding journey in Ruby, before moving onto JavaScript (both vanilla and frameworks including node.js and React), and spent my final project building an app in ReactNative.
          </p>
          <p class="card-text">
            Whilst most of my cohort looked for jobs immediately after graduating, I wanted to take some time to delve deeper into the technologies we covered, consolidate my learning and build some side projects. I also wanted to spend some time upskilling in my other passion - scuba diving!
          </p>
          <p class="card-text">
            So - I hit road for 6 months in South East Asia with two main goals in mind:
          </p>
          <p class="card-text">
            <ul>
              <li>
                <strong>Fall in love with JavaScript</strong>: There’s still so much I don’t understand about this powerful language, and I wanted to give it the time and attention it deserves to make sure I’m a better developer in all things dom.
              </li>
              <li>
                <strong>Undertake my Dive Master Training</strong>. After learning to dive last year, I fell in love with blowing bubbles, and haven't looked back. After finishing my DiveMaster training, I spent a few months working as a dive master on liveaboards in the Similan Islands, Thailand. If I'm not coding, I'm dreaming of my next diving holiday.
              </li>
            </ul>
          </p>
          <p class="card-text">
            Throughout that experience I planned to blog about the things I'd learnt - but was much busier than I perhaps anticipated! I'll be taking a look back at those experiences in the next few blog posts, and reflecting on my JS learning at the moment.
          </p>
          <p class="card-text">
            - Annalaise
          </p>
      </div>
    </div>


  </div>
</div>
