<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-fluid rounded about-img" src="/assets/diving-ag.JPG" alt="Card image cap">
        <img class="img-fluid rounded about-img" src="/assets/plane.jpg" alt="Card image cap">
        <img class="img-fluid rounded about-img" src="/assets/coding-malaysia.jpg" alt="Card image cap">
      </div>
      <div class="col-sm-8">
        <div class="about-text">
          <p class="card-text">
            Hello! I’m a newbie software engineer, having recently made the switch from product to
          </p>
          <p class="card-text">
            I recently graduated <a href="http://www.makersacademy.com/" class="link-text">Maker’s Academy</a>, a highly selected 16-week coding bootcamp, with focus on test-driven full stack development.
          </p>
          <p class="card-text">
            I started my coding journey in Ruby, before moving onto JavaScript (both vanilla and frameworks including node.js and React), and spent my final project building an app in ReactNative.
          </p>
          <p class="card-text">
            Whilst most of my cohort look for jobs immediately after graduating, I wanted to take some time to delve deeper into the technologies we covered, consolidate my learning and build some side projects. I also wanted to spend some time upskilling in my other passion - scuba diving!
          </p>
          <p class="card-text">
            So - I’ve hit the road for 6 months in South East Asia with two main goals in mind:
          </p>
          <p class="card-text">
            <ul>
              <li>
                <strong>Fall in love with JavaScript</strong>: There’s still so much I don’t understand about this powerful language, and I want to give it the time and attention it deserves to make sure I’m a better developer in all things web.
              </li>
              <li>
                <strong>Undertake my Dive Master Training</strong>. So far I’ve logged 60 dives - I'm still practically a scuba-baby. Dive Master Training (DMT) is the first ladder on the professional diver career ladder, and I cannot wait to get started.  I’m particularly interested in marine conservation, and I've selected a training programme that will allow me to help the local reef ecosystem and teach other divers to do the same.
              </li>
            </ul>
          </p>
          <p class="card-text">
            Throughout this experience I’ll be blogging about the things I’ve learnt, the marine life I've seen, and the projects I'm working on.
          </p>
          <p class="card-text">
            - Annalaise
          </p>
        </div>
      </div>
    </div>


  </div>
</div>
