<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>Contact</h3>
    </div>
    <div class="card-text">
      <p>Contact details coming soon</p>
    </div>
  </div>
</div>
