body {
  background-image: url('triggerfish.jpg');
  background-size: cover;
  height: 100vh;
}

h1, h2, h3, h4 {
  font-family: 'Caveat Brush', cursive;
}

a {
  color: black;
}

.link-text {
  text-decoration: underline;
}

.card {
  margin-top: 20px;
  border: transparent;
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px !important;
}

.navbar-light {
  border-bottom: 1px solid black !important;
  margin-top: 10px !important;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand {
  font-family: 'Caveat Brush', cursive;
}

.nav-link {
  font-size: 13px !important;
}

.about-text {
  font-size: 12px;
}

.about-img {
  margin-bottom: 20px;
}
